<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reactnative.ivpusic.imagepicker">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".AlbumListActivity"
            android:theme="@style/AppTheme.Picture" />

        <activity
            android:name=".PhotoListActivity"
            android:theme="@style/AppTheme.Picture" />

        <activity
            android:name=".PickerModuleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.White" />

        <activity
            android:name=".activity.PhotoPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Picture" />

        <activity
            android:name=".activity.PickerPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Picture" />

        <activity
            android:name=".activity.CaptureConfirmActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Picture" />

        <activity
            android:name=".activity.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Picture" />

        <activity
            android:name=".activity.CaptureTempActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Picture" />


        <activity
            android:name=".activity.SelectedPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Picture" />

    </application>

</manifest>
